<head>
  <link type="text/css" rel="stylesheet" href="../../static/css/style.min.css">
  <script>
function goBack() {
    window.history.back();
}
</script>
</head>
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
<div class="register_window">
  <div class="reg_img"><img src="../../static/images/logo.png"></div>
  <div class="register_screen">
      <div class="security-messages">
      {% include "security/_messages.html" %}
      </div>

      <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
          <h1 class="form-title">{{ _('Send password reset instructions') }}</h1>
            {{ forgot_password_form.hidden_tag() }}
            {{ render_field_with_errors(forgot_password_form.email) }}
            {{ render_field(forgot_password_form.submit) }}
      </form>
          <div style="display: none;" class="log_reg">
              {% include "security/_menu.html" %}
              {% endblock %}
          </div>
      <a class="button button_logout go_back" href="{{ url_for_security('login') }}"><< Back to login page</a>
    </div>
 </div>