<!DOCTYPE html>
<html lang="en">
<head>
  <title>SRS projekat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    {% block menu %}{% endblock %}
<script>
    function goBack() {
    window.history.back();
}
</script>
</head>
<body>
{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% block body %}

<div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
                        {{ change_password_form.hidden_tag() }}
                        {{ render_field_with_errors(change_password_form.password, class_="form-control", placeholder='Lozinka') }}
                        {{ render_field_with_errors(change_password_form.new_password, class_="form-control", placeholder='Nova lozinka') }}
                        {{ render_field_with_errors(change_password_form.new_password_confirm, class_="form-control", placeholder='Potvrda lozinke') }}
                        {{ render_field(change_password_form.submit, class_="btn btn-primary", placeholder='Sacuvaj') }}
                         </form>
                        <button class="btn btn-primary" onclick="goBack()"><< Nazad</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
{% endblock %}