{% extends "layout.html" %}

{% block body %}
<div class="container-fluid text-center main-content">
  <div class="row content">
    {% include "links.html" %}
    <div class="col-sm-8 text-left">
      <h1>Dobro došli</h1>
      <p><b>SRS Penetration Test</b> je alat namijenjen za demonstraciju klasičnih napada na Web aplikacije i servise: Slow HTTP i SQL injection.
      Pored toga ovaj alat omogucava skeniranje portova i aplikacija koje se nalaze na otvorenim portovima za datu adresu.</p>
      <hr>
    </div>
    <div class="col-sm-2 sidenav">

    </div>
  </div>
</div>

{% endblock %}
